Repository GreenManSK/react-live2d: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix --quiet

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.css": ["stylelint --fix --quiet"],
  "*.json": ["prettier --write"],
  ".*": ["prettier --write"]
}

delete usless stuff
  design/logo.ai
  design/logo.jpg
  design/logo.png
Due: none

Render models
  .gitignore
  .lintstagedrc.json
  src/env/App/App.tsx
  src/lib/Live2DCanvas/Live2DCanvas.tsx
  src/lib/Live2DModel/Live2DModel.mdx
  src/lib/Live2DModel/Live2DModel.module.css
  src/lib/Live2DModel/Live2DModel.stories.tsx
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/Live2DModel/index.ts
  src/lib/Live2DRunner/Live2DRunner.tsx
  src/lib/cubism/Live2DCanvas.interface.ts
  src/lib/cubism/Live2DCanvasManager.ts
  src/lib/cubism/Live2DCubismUserModel.ts
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
  src/lib/cubism/Live2DTextureManager.ts
Due: prettier --write, eslint --fix, stylelint --fix --quiet

Add run commands to readme
  README.md
Due: none

Add look speed
  src/env/App/App.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
Due: prettier --write, eslint --fix

lip motion
  src/env/App/App.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
Due: prettier --write, eslint --fix

Add examples config
  .gitignore
  examples/App.tsx
  examples/index.css
  examples/index.html
  examples/main.tsx
  examples/vite-env.d.ts
  package.json
  src/lib/index.ts
  tsconfig.json
  tsconfig.linter.json
  vite.examples.config.ts
Due: prettier --write, eslint --fix, stylelint --fix --quiet

Examples with tailwind
  .prettierrc
  examples/App-2.tsx
  examples/App.tsx
  examples/index.css
  examples/index.html
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
  vite.examples.config.ts
Due: prettier --write, eslint --fix, stylelint --fix --quiet

Fix lint
  .stylelintrc
  examples/index.css
Due: prettier --write, stylelint --fix --quiet

Router for examples
  eslint.config.js
  examples/App.tsx
  examples/ExamplesList.tsx
  examples/Page.tsx
  examples/main.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

Show a model
  examples/App-2.tsx
  examples/ModelViewer/ModelPicker.tsx
  examples/ModelViewer/ModelViewer.tsx
  examples/index.html
  examples/main.tsx
  src/env/App/App.tsx
  src/lib/Live2DCanvas/Live2DCanvas.module.css
  src/lib/Live2DCanvas/Live2DCanvas.tsx
  src/lib/Live2DCanvas/useLive2DCanvasContext.tsx
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/cubism/Live2DCanvasManager.ts
  src/lib/cubism/Live2DModelManager.ts
  src/lib/index.ts
  tsconfig.json
Due: prettier --write, eslint --fix, stylelint --fix --quiet

Expressions and motions
  examples/ModelViewer/ModelControls.tsx
  examples/ModelViewer/ModelPicker.tsx
  examples/ModelViewer/ModelViewer.tsx
  src/lib/Live2DModel/Live2DModel.module.css
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/Live2DModel/useLive2DModelContext.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/index.ts
Due: prettier --write, eslint --fix, stylelint --fix --quiet

Look and body orientation
  examples/ModelViewer/ModelControls.tsx
  src/lib/cubism/Live2DCanvasManager.ts
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
Due: prettier --write, eslint --fix

readd canvas
  src/env/App/App.tsx
Due: prettier --write, eslint --fix

basic docs
  DOCS.md
Due: none

add scaling and moving of model
  DOCS.md
  examples/ModelViewer/ModelControls.tsx
  examples/index.html
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
Due: prettier --write, eslint --fix

hit zones
  DOCS.md
  examples/ModelViewer/ModelControls.tsx
  examples/ModelViewer/ModelPicker.tsx
  src/lib/Live2DCanvas/Live2DCanvas.tsx
  src/lib/Live2DCanvas/useLive2DCanvasContext.tsx
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
  src/lib/index.ts
Due: prettier --write, eslint --fix

lip sync
  DOCS.md
  examples/ExamplesList.tsx
  examples/LipSync/LipSync.tsx
  examples/main.tsx
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/cubism/Live2DLipSyncManager.ts
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DModelMotionManager.ts
Due: prettier --write, eslint --fix

model from url
  DOCS.md
  examples/ModelViewer/ModelPicker.tsx
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/cubism/Live2DTextureManager.ts
Due: prettier --write, eslint --fix

zip models
  DOCS.md
  examples/ModelViewer/ModelPicker.tsx
  package.json
  pnpm-lock.yaml
  src/lib/Live2DModel/Live2DModel.tsx
  src/lib/cubism/Live2DModelManager.ts
  src/lib/utils/ModelFileSystem.ts
  src/lib/utils/ZipModelFileSystem.ts
Due: prettier --write, eslint --fix

update readme
  README.md
Due: none

update package name
  package.json
Due: prettier --write

updates
  examples/LipSync/LipSync.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

fix loading
  src/lib/cubism/Live2DModelManager.ts
Due: prettier --write, eslint --fix

add expression reset
  DOCS.md
  examples/LipSync/LipSync.tsx
  examples/ModelViewer/ModelControls.tsx
  src/lib/cubism/Live2DModelMotionManager.ts
Due: prettier --write, eslint --fix

version bump
  package.json
Due: prettier --write
